<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.plugin.phonegapGallery"
    version="0.0.1">

    <name>PhoneGapGallery</name>

    <description>Cordova/PhoneGap Gallery Plugin for Android</description>

    <license>MIT</license>

    <keywords>cordova,phonegap,gallery,android</keywords>

    <repo>https://github.com/hardikthakkar3/PhoneGapGallery.git</repo>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneGapGallery">
                <param name="android-package" value="com.plugin.gallery.PhoneGapGallery"/>
            </feature>
        </config-file>

        <js-module src="www/android/gallery.js" name="DatePicker">
            <clobbers target="window.plugins.phonegapGallery" />
        </js-module>

        <source-file src="src/android/ForegroundGalleryLauncher.java" target-dir="src/com/plugin/phonegapGallery" />
		<source-file src="src/android/GalleryActivity.java" target-dir="src/com/plugin/phonegapGallery" />
    </platform>
</plugin>